@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1662472678794') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22.5px 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e736";
}

.icon-house:before {
  content: "\e615";
}

.icon-email:before {
  content: "\e74f";
}

